
@import url('https://fonts.googleapis.com/css?family=Boogaloo|Indie+Flower|Pacifico'); 
* {
	margin: 0;
	padding: 0;
	font-family: 'Patua One';
}
body {
  background-image: url("BACKGROUND.jpg");
}
 .rubberBand{
    color:white; 
    font-size: 50px; 
    font-family: 'Boogaloo';
    margin: 40px;
    text-align: center;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
} 

.table{
  
    background-color:pink;
    border-spacing: 5px;
	  padding: 0px;
    margin: 10px auto;
    opacity: 0.6; 
  
  }
  table tr td {
    width: 20px;
    height: 20px;
    font-size: 30px;
    text-align: center;
  }
  .cell {
    background-color:white ;
    border: dotted 2px pink; 
    padding: 50px;
    font-size: 30px;
    text-align: center;

  }
  .cell:hover{
  background-color:lightpink; 

  }

  #reload {

  width: 150px;
  height: 100px;
  color:pink;
   margin: 10px auto; 
  border-radius: 20px;
	display: block;
  border: none;
  font-family: 'Boogaloo';
	background-color :white;
  font-size: 25px;
  opacity: 0.7; 
}
     
.p {

  color:white; 
  font-size: 30px; 
  font-family: 'Boogaloo';
  margin: 30px;
  text-align: center;

}
.animated
{
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.center {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-family: 'Boogaloo';
  font-size: 20px;

}
